#Add factory
neverallow {
  -factory
} shell_data_file:dir no_w_dir_perms;

neverallow {
  -factory
} shell_data_file:dir { open search };

neverallow {
  -factory
} shell_data_file:file open;
